body{
    border-color: rgb(25,27,29);
    background: url(../img/BG.png),url(../img/Background\ color\ Grading.jpg)  ;
     background-size: 70%,cover;
     background-position: center,center;
     background-repeat: no-repeat,no-repeat;
     font-family: 'Noto Sans Sinhala', sans-serif;
  
   
  }
  
    .cards{
      height:210px;
      width:230px;
      background-color:rgba(0, 0, 0, 0.148);
      border-radius: 10px;
     
    }
    .cards img{
      margin:auto;
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      border-radius: 10px;
    
    }
    p{
      
      margin-right: 10px;
      font-size: 20px;
    }


