body{
    border-color: rgb(25,27,29);
    background: url(../img/BG.png),url(../img/Background\ color\ Grading.jpg)  ;
     background-size: 70%,cover;
     background-position: center,center;
     background-repeat: no-repeat,no-repeat;
     font-family: 'Noto Sans Sinhala', sans-serif;
  
   
  }
  .navbar{
    background-color: #fff;
    font-family: 'Noto Sans Sinhala', sans-serif;font-weight: bold;
  }
  
  .nav-link {
      display: inline-block;
      position: relative;
  
    }
    
    .nav-link:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: 
    #0087ca;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .nav-link:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    .cards{
      height:210px;
      width:210px;
      background-color:rgba(0, 0, 0, 0.148);
      border-radius: 10px;
     
    }
    .cards img{
      margin:auto;
      margin-top: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      border-radius: 10px;
    
    }
    p{
      
      margin-right: 10px;
      font-size: 20px;
    }
    footer{
      background-color: #fff;
    }


